.questao-resposta {
  width: 60%;
}

.comentario-nota {
  width: 100%;
  display: flex;
  margin-right: 10px;
  text-align: start;
}

.comentario {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.width-nota {
  width: 20%;
}