.container-questoes-corrigir {
  width: 100%;
}

.questao-resposta {
  width: 60%;
}

.comentario-nota {
  width: 100%;
  display: flex;
  padding-bottom: 60px;
  text-align: start;
}

.comentario {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.width-nota {
  width: 100%;
}

.container-nota-download{
  width: 20%;
  display: flex;
  flex-direction: column;
}

.container-download {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 100px; 
}

.botao-download {
  font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.1em;
  font-weight: lighter;
  text-align: center;
	line-height: 17px;
	color: var(--fonte-cor);
	background-color: var(--cinza-cor);
	border: 1px;
	border-radius: var(--border-radius);
  transition: all 0.2s;
  padding: 0;
  margin: 1px 1px;
	cursor: pointer;
  outline: none;
  height: 40px;
  width: 120px;
}

.botao-download:hover {
  background-color: var(--laranja-cor);
}

i {
  margin-left: 15px;
  position: relative;
  vertical-align:middle;
}

.resposta-base {
  width: 150px;
}