.container-questao-multipla-escolha {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 350px;
}

.esquerda {
	display: flex;
	flex-direction: column;
	width: 45%;
}

.direita {
	display: flex;
	flex-direction: column;
	width: 45%;
	justify-content: flex-start;
}

.questao {
	background: rgba(161, 161, 161, 0.425);
	border: 1px solid rgba(249, 243, 243, 0.92);
	box-sizing: border-box;
	backdrop-filter: blur(4px);
	border-radius: var(--border-radius);
	outline: none;
	resize: none;
	padding: 10px;
	height: 100px;
	overflow: auto;
}

.questao:focus {
	border-bottom: 1px solid #d7d7d7;
	outline: none;
}

.container-radio-buttons {
	display: flex;
}

.container-botao {
	margin-bottom: 10px;
	align-self: flex-end;
}