.container-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.width-select-container {
  height: 75px;
  width: unset;
}

.width-tipo-select {
  width: 250px;
  padding-left: 5px;
  margin: 0;
}

.width-especificidade-select {
  width: 217px;
  padding-left: 5px;
  margin: 0;
}

.width-nivel-select {
  width: 161px;
  padding-left: 5px;
  margin: 0;
}