*{
  box-sizing: border-box;
}

.container-paginacao {
  width: 200px;
	display: flex;
}

.container-paginacao button {
	background: none;
	border: 0;
	box-shadow: inset 0 0 0 2px var(--laranja-cor);
	border-radius: var(--border-radius);
	color: var(--laranja-cor);
	font-size: inherit;
	font-weight: 700;
	position: relative;
	vertical-align: middle;
	outline: none;
}

.container-paginacao button::before + .container-paginacao button::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.draw {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	border-radius: var(--border-radius);
	height: 40px;
	width: 50px;
	margin: 5px;
}

.draw:hover {
	background-color: var(--laranja-cor);
	color: var(--fonte-cor);
}

.bloco-principal-paginacao {
	height: 40px;
	width: 50px;
	margin: 5px;
	border-radius: var(--border-radius);
	background-color: var(--laranja-cor);
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	color: var(--fonte-cor);
	display: flex;
	align-items: center;
	justify-content: center;
}
