.container-questoes {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.width-card-questao{
    cursor: pointer;
    height: 110px;
    padding: 1.6% 2%;
    margin-bottom: 15px;
}

.container-cards-questoes{
    max-height: 560px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
