.container-questoes {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.width-card-questao{
    width: 500px;
    height: 100px;
    padding: 0.5% 2%;
    margin-bottom: 15px;
}

.container-cards-questoes{
    height: 560px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
