* {
	box-sizing: border-box;
}

:root {
	--red-color: #FE5F5F;
	--orange-color: #FBB041;
	--font-color: #F9F3F3;
	--light-gray-color: #C6C6C6;
	--medium-gray-color: #828282;
	--dark-gray-color: #4E4E4E;
	--bg-black-color: #333333;
	--border-radius: 5px;
}

body {
	margin: 0 auto;
	font-family: 'Open Sans Condensed', sans-serif;
}

.principal {
	text-align: center;
	min-height: 100vh;
	position: relative;
}
