* {
	box-sizing: border-box;
}

:root {
	--red-color: #FE5F5F;
	--orange-color: #FBB041;
	--font-color: #F9F3F3;
	--light-gray-color: rgb(153, 151, 151);
	--medium-gray-color: #706f6f;
	--dark-gray-color: rgb(65, 63, 63);
	--bg-black-color: #2c2c2c;
	--border-radius: 5px;
}

body {
	margin: 0 auto;
	font-family: 'Open Sans Condensed', sans-serif;
}

.principal {
	text-align: center;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
}
