* {
	box-sizing: border-box;
}

:root {
	--verde-cor: #00C49F;
	--vermelho-cor: #FE5F5F;
	--laranja-cor: #FBB041;
	--fonte-cor: #F9F3F3;
	--cinza-claro-cor: rgb(153, 151, 151);
	--cinza-medio-cor: #706f6f;
	--cinza-escuro-cor: rgb(65, 63, 63);
	--cinza-cor: #2c2c2c;
	--border-radius: 5px;
}

body {
	margin: 0 auto;
	font-family: 'Open Sans Condensed', sans-serif;
}

.principal {
	text-align: center;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
}
