.container-card {
  font-size: 1.2em;
  width: 98%;
  height: 100px;
  border: 1px solid rgba(249, 243, 243, 0.92);
  border-radius: var(--border-radius);
  padding: 1.6% 3%;
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
  background-color: rgba(247, 245, 245, 0.6);
}

.container-card:focus {
	border-bottom: 1px solid #d7d7d7;
	outline: none;
}

.container-card:hover {
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.content-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.para-corrigir {
  width: 70%;
}

.corrigida {
  width: 100%; 
}

.content-card div{
  display: flex;
  align-items: center;
}

.content-card div div{
  display: flex;
  margin-left: 10px;
}

.content-card div span:first-child{
  margin-right: 5px;
  font-weight: 500;
}

.container-linguagens-card-prova {
  width: 30%;
  height: 100%;
  display: flex;
  flex-flow: row-reverse wrap;
}

.imagem-linguagem-card-prova {
  height: 50%;
}

.tamanho-botao {
  align-self: initial;
  font-size: 0.8em;
  line-height: 5px;
  padding: 10px 10px;
}

