.container-botao-adicionar {
  margin: 25px 5px;
}

.botao-adicionar {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: large;
	font-weight: bold;
	color: var(--font-color);
	background-color: var(--orange-color);
	border: 1px;
	border-radius: var(--border-radius);
	padding: 10px 20px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	outline: none;
}

.botao-remover {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: large;
	font-weight: bold;
	color: var(--font-color);
	background-color: var(--red-color);
	border: 1px;
	border-radius: var(--border-radius);
	padding: 10px 20px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	position: absolute;
	right: -80px;
	bottom: 20%;
	outline: none;
}

.botao-adicionar:hover, .botao-remover:hover {
  cursor: pointer;
  display: inline-block;
}
