.primeira-div {
  display: flex;
  align-items: center;
  position: relative;
  height: 40%;
  width: 100%;
}

.mult-questao {
  height: 100%;
}

.container-alternativas {
  display: flex;
  justify-content: space-between;
  height: 60%;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 7%;
}

.coluna {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 48%;
}

.container-especificacoes {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container-especificacao-mult {
  display: flex;
  flex-direction: column;
  width: 48%;
  align-items: flex-start;
  padding: 5%;
}

.mult {
  width: 100%;
  text-align: start;
  padding-bottom: 65px;
}
