.botao-principal {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: large;
	font-weight: bold;
	color: white;
	background-color: #f8b03f;
	border: 1px;
	box-shadow: 0px 9px 24px rgba(0, 29, 105, 0.14);
	border-radius: 8px;
	padding: 10px 60px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.botao-principal span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.botao-principal span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.botao-principal:hover span {
	padding-right: 25px;
}

.botao-principal:hover span:after {
	opacity: 1;
	right: 0;
}
