.container-modal {
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitulo-crie {
  font-size: 18px;
  display: block;
  color: var(--cinza-medio-cor);
  margin-top: 10px;
}
